@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 rounded-full;
  }
  ::selection {
    @apply bg-brand-100 text-brand-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}